<div>
  <h2 id="page-heading" data-cy="PartidaHeading">
    <span>Partidas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-partida"
        [routerLink]="['/partida/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Partida </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="partidas?.length === 0">
    <span>No partidas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="partidas && partidas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Puntos</span></th>
          <th scope="col"><span>Juego</span></th>
          <th scope="col"><span>Ganador</span></th>
          <th scope="col"><span>Perdedor</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partida of partidas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/partida', partida.id, 'view']">{{ partida.id }}</a>
          </td>
          <td>{{ partida.puntos }}</td>
          <td>{{ partida.juego }}</td>
          <td>
            <div *ngIf="partida.ganador">
              <a [routerLink]="['/jugador', partida.ganador?.id, 'view']">{{ partida.ganador?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="partida.perdedor">
              <a [routerLink]="['/jugador', partida.perdedor?.id, 'view']">{{ partida.perdedor?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/partida', partida.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/partida', partida.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(partida)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
